<div class="conteiner_small_card">
    <img src="{{ fotoUm }}" alt="">
    <div class="titulo_paragrafo">
        <h1>{{ tituloUm }}</h1>
        <p>{{ paragrafoUm }}</p>
    </div>
</div>
<hr>
<div class="conteiner_small_card">
    <img src="{{ fotoDois }}" alt="">
    <div class="titulo_paragrafo">
        <h1>{{ tituloDois }}</h1>
        <p>{{ paragrafoDois }}</p>
    </div>
</div>
<hr>
<div class="conteiner_small_card">
    <img src="{{ fotoTres }}" alt="">
    <div class="titulo_paragrafo">
        <h1>{{ tituloTres }}</h1>
        <p>{{ paragrafoTres }}</p>
    </div>
</div>
<hr>