@media only screen and (min-width: 320px) and (max-width: 480px) {
    .conteiner_menu_bar > ul > li > a {
        font-size: 18px;
        text-decoration: none;
        justify-content: center;
    }
    .conteiner_menu_bar > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 200px;
        margin: 10px;
    }
    .conteiner_menu_bar {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    
    }
    .conteiner_menu_bar > ul > li {
        list-style: none;
        text-decoration: none;
        justify-content: center;
    }
    
}
  
  /* Para telas entre 768px e 1024px (tablets) */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .conteiner_menu_bar > ul > li > a {
        font-size: 30px;
        text-decoration: none;
    }
    .conteiner_menu_bar > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 250px;
        margin: 10px;
    }
    .conteiner_menu_bar {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    
    }
    .conteiner_menu_bar > ul > li {
        list-style: none;
        text-decoration: none;
        margin: 15px;
    }
    
}